@import './fonts';
@import './header';
@import './navbar';
@import './custom';
@import './product/beadcrumbs';
@import './product/infoNavbar';
@import './product/index';
@import './product/info';
@import './searchInput';

.container {
  margin: 0 85px;
}
* {
  margin: 0;
  padding: 0;
}
